@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f4ea;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  color: rgb(139, 126, 116);
}

h2 {
  margin-left: 20px;
  text-align: left;
  font-size: 30px;
  color: rgb(87, 155, 177);
}

p {
  margin: 0;
  padding: 0;
}
